.loading-overlay {
  position: absolute;

width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;}

.loading-overlay .poke-ball {
  z-index: 10;
}

.loading-overlay .loading-info-text {
  font-size: 1.5rem;
  white-space: nowrap;
  margin: 4px 0;
  background-color: rgba(0, 0, 0, 0.63);
  color: white;
  padding: 6px;
  border-radius: 12px;
}

.loading-overlay .poke-ball {
  animation: ball-rotation 1s infinite;
  animation-timing-function: linear;
}

@keyframes ball-rotation {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}